USE [QuanLyBanSach]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 20/10/2025 8:20:46 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[MaXB] [char](10) NOT NULL,
	[TenXB] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 20/10/2025 8:20:46 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [char](10) NOT NULL,
	[TenSach] [nvarchar](300) NULL,
	[MaXB] [char](10) NULL,
	[TacGia] [nvarchar](100) NULL,
	[NamXB] [datetime] NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD FOREIGN KEY([MaXB])
REFERENCES [dbo].[NhaXuatBan] ([MaXB])
GO
/****** Object:  StoredProcedure [dbo].[HienThiChiTietXB]    Script Date: 20/10/2025 8:20:46 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Hiển thị chi tiết theo mã
CREATE PROC [dbo].[HienThiChiTietXB] @MaXB CHAR(10)
AS
SELECT * FROM NhaXuatBan WHERE MaXB = @MaXB;
GO
/****** Object:  StoredProcedure [dbo].[HienThiXB]    Script Date: 20/10/2025 8:20:46 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Hiển thị danh sách nhà xuất bản
CREATE PROC [dbo].[HienThiXB]
AS
SELECT * FROM NhaXuatBan;
GO
/****** Object:  StoredProcedure [dbo].[SuaDuLieu]    Script Date: 20/10/2025 8:20:46 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Sửa dữ liệu
CREATE PROC [dbo].[SuaDuLieu] @MaXB CHAR(10), @TenXB NVARCHAR(100), @DiaChi NVARCHAR(500)
AS
UPDATE NhaXuatBan SET TenXB=@TenXB, DiaChi=@DiaChi WHERE MaXB=@MaXB;
GO
/****** Object:  StoredProcedure [dbo].[ThemDuLieu]    Script Date: 20/10/2025 8:20:46 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Thêm dữ liệu
CREATE PROC [dbo].[ThemDuLieu] @MaXB CHAR(10), @TenXB NVARCHAR(100), @DiaChi NVARCHAR(500)
AS
INSERT INTO NhaXuatBan VALUES (@MaXB, @TenXB, @DiaChi);
GO
/****** Object:  StoredProcedure [dbo].[XoaDuLieu]    Script Date: 20/10/2025 8:20:46 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Xóa dữ liệu
CREATE PROC [dbo].[XoaDuLieu] @MaXB CHAR(10)
AS
DELETE FROM NhaXuatBan WHERE MaXB=@MaXB;
GO
